<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset name="paypal" label="PayPal Settings"
		description="Configuration settings for the Donate Button within the UKRGB Component">
		
		<field name="sandbox" type="radio" class="btn-group"  default="0" 
			label="Use Sandbox"
			description="Use the Sandbox for when debuging PayPal">
    		<option value="1">JYES</option>
    		<option value="0">JNO</option>
		</field>

		<field name="identity_token" type="text"
			default=""
			label="Identity Token"
			description="Payment Data Transfer (PDT) Identity Token"
			size="60"
			maxlength="60">
		</field>
		
		<field name="hosted_button_id" type="text"
			default=""
			label="Hosted Button ID"
			description="Hosted Button ID of the button donate button"
			size="14"
			maxlength="14">
		</field>
				
		<field name="sandbox_identity_token" type="text"
			default=""
			label="Sandbox Identity Token"
			description="Sandbox Payment Data Transfer (PDT) Identity Token"
			size="60"
			maxlength="60">
		</field>
		
		<field name="sandbox_hosted_button_id" type="text"
			default=""
			label="Sandbox Hosted Button ID"
			description="Sandbox Hosted Button ID of the button donate button"
			size="14"
			maxlength="14">
		</field>
		
	</fieldset>
	<fieldset name="riverguides" label="COM_UKRGB_RG"
		description="COM_UKRGB_RG_DESCRIPTION">
		<field
					name="riverguidecats"
					type="category"
					extension="com_content"
					multiple="true"
					size="10"
					default=""
					label="JCATEGORY"
					description="COM_UKRGB_RGCAT_DESCRIPTION"
					class="inputbox span12 small"
				>
					<option value="">JOPTION_ALL_CATEGORIES</option>
		</field>

		<field name="dificultytags0" type="tag" 
		    label="COM_UKRGB_RGTAGS_PLAY" description="COM_UKRGB_RGTAGS_DESCRIPTION"
		    class="inputbox span12 small" multiple="false"
		/>
		<field name="dificultytags1" type="tag" 
		    label="COM_UKRGB_RGTAGS_EASY" description="COM_UKRGB_RGTAGS_DESCRIPTION"
		    class="inputbox span12 small" multiple="false"
		/>
		<field name="dificultytags2" type="tag" 
		    label="COM_UKRGB_RGTAGS_INT" description="COM_UKRGB_RGTAGS_DESCRIPTION"
		    class="inputbox span12 small" multiple="false"
		/>
		<field name="dificultytags3" type="tag" 
		    label="COM_UKRGB_RGTAGS_EXT" description="COM_UKRGB_RGTAGS_DESCRIPTION"
		    class="inputbox span12 small" multiple="false"
		/>
	
	</fieldset>
	
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_ukrgb" filter="rules"
			validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>
</config>