<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset name="paypal" label="PayPal Settings"
		description="Configuration settings for the Donate Button within the UKRGB Component">
		
		<field name="sandbox" type="radio" class="btn-group"  default="0" 
			label="Use Sandbox"
			description="Use the Sandbox for when debuging PayPal">
    		<option value="1">JYES</option>
    		<option value="0">JNO</option>
		</field>

		<field name="identity_token" type="text"
			default=""
			label="Identity Token"
			description="Payment Data Transfer (PDT) Identity Token"
			size="60"
			maxlength="60"
			class="inputbox span12 small">
		</field>
		
		<field name="hosted_button_id" type="text"
			default=""
			label="Hosted Button ID"
			description="Hosted Button ID of the button donate button"
			size="14"
			maxlength="14">
		</field>
				
		<field name="sandbox_identity_token" type="text"
			default=""
			label="Sandbox Identity Token"
			description="Sandbox Payment Data Transfer (PDT) Identity Token"
			size="60"
			maxlength="60"
			class="inputbox span12 small">
		</field>
		
		<field name="sandbox_hosted_button_id" type="text"
			default=""
			label="Sandbox Hosted Button ID"
			description="Sandbox Hosted Button ID of the button donate button"
			size="14"
			maxlength="14">
		</field>
		
	</fieldset>
	<fieldset name="riverguides" label="COM_UKRGB_RG"
		description="COM_UKRGB_RG_DESCRIPTION">
		<field
					name="riverguidecats"
					type="category"
					extension="com_content"
					multiple="true"
					size="10"
					default=""
					label="JCATEGORY"
					description="COM_UKRGB_RGCAT_DESCRIPTION"
					class="inputbox span12 small"
				>
					<option value="">JOPTION_ALL_CATEGORIES</option>
		</field>
	</fieldset>
	
	
	
	<!-- Add fields to the parameters object for the layout. -->
	<!-- Basic options. -->
	<fieldset name="basic"
			label="COM_UKRGB_ATTRIBS_EVENT_SETTINGS_LABEL">
			
		<field
			name="show_title"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_TITLE_LABEL"
			default="1"
			description="JGLOBAL_SHOW_TITLE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
			
		<field
			name="show_author"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_AUTHOR_LABEL"
			default="1"
			description="JGLOBAL_SHOW_AUTHOR_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		
				
		<field
			name="show_create_date"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_CREATE_DATE_LABEL"
			default="1"
			description="JGLOBAL_SHOW_CREATE_DATE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_modify_date"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_MODIFY_DATE_LABEL"
			default="1"
			description="JGLOBAL_SHOW_MODIFY_DATE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_publish_date"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_PUBLISH_DATE_LABEL"
			default="1"
			description="JGLOBAL_SHOW_PUBLISH_DATE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
			
		<field
			name="show_icons"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_ICONS_LABEL"
			default="1"
			description="JGLOBAL_SHOW_ICONS_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_print_icon"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_PRINT_ICON_LABEL"
			default="0"
			description="JGLOBAL_SHOW_PRINT_ICON_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_email_icon"
			type="radio"
			class="btn-group"
			label="JGLOBAL_SHOW_EMAIL_ICON_LABEL"
			default="0"
			description="JGLOBAL_SHOW_EMAIL_ICON_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		
	</fieldset>	
		
	
	<fieldset addfieldpath="/administrator/components/com_ukrgb/fields" name="advanced" label="COM_UKRGB_ADV"
		description="COM_UKRGB_ADV_DESCRIPTION">
		
		<field name="debug" type="radio" class="btn-group"  default="0" 
			label="COM_UKRGB_DEBUG"
			description="COM_UKRGB_DEBUG_DEC">
    		<option value="1">JYES</option>
    		<option value="0">JNO</option>
		</field>
		
		<field name="JFusionPluginParam" type="JFusionAdvancedParam" default="" label="JFUSION_PLUGIN" feature="activity" description="JFUSION_PLUGIN_DESCR"  />
	</fieldset>	
		
	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL">
		<field name="rules" type="rules" component="com_ukrgb" filter="rules"
			validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
	</fieldset>	
	
</config>